.not-found {
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}

.not-found__title {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 140px;
  line-height: 169px;
  text-align: center;
  margin: auto 0 0 0;
}

.not-found__text {
  margin: 0;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
}

.not-found__go-back-button {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #4285F4;
  margin: auto 0 60px 0;
  padding: 0;
  border: 0;
  background-color: transparent;
  outline: none;
  transition: opacity .2s;
  cursor: pointer;
}

.not-found__go-back-button:hover {
  opacity: .8;

}