.spf {
  margin: 0 auto;
  padding: 70px 0;
  height: 100%;
  width: 399px;
  display: flex;
  flex-direction: column;
}

.spf__logo {
  width: 38px;
  padding: 0;
  margin-bottom: 40px;
}

.spf__header {
  margin-bottom: 40px;
  padding: 0;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #FFFFFF;
}

.spf__form {
  display: flex;
  flex-flow: column nowrap;
  margin-bottom: 69px;
}

.spf__input {
  padding: 15px;
  outline: 0;
  border: 1px;
  background-color: #2F2F2F;
  border-radius: 8px;
  margin-bottom: 20px;
  color: #fff;
  caret-color: #4285F4;
  font-size: 13px;
  line-height: 16px;
  transition: box-shadow .4s;
}

.spf__input:focus {
  box-shadow: 0px 0px 0px 1px #4285F4 inset;
}

.spf__input:last-of-type {
  margin-bottom: 0;
}

.spf__label {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 12px;
  color: #8B8B8B;
  margin-bottom: 10px;
}

.spf__button {
  margin-top: auto;
  background: #4285F4;
  border-radius: 3px;
  height: 45px;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #fff;
  border: 0;
  transition: opacity .2s;
  cursor: pointer;
}

.spf__button:hover {
  opacity: .8;
}

.spf__hint {
  margin: 16px 0 0 0;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #8B8B8B;
}

.spf__hint-link {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #4285F4;
  text-decoration: none;
  transition: opacity .2s;
}

.spf__hint-link:hover {
  opacity: .8;
}