.spf {
  margin: 0 auto;
  padding: 70px 0;
  height: 100%;
  width: 399px;
  display: flex;
  flex-direction: column;
}

.spf__logo-link {
  width: 38px;
  height: 38px;
  margin-bottom: 40px;
}

.spf__logo {
  display: block;
  width: 38px;
  padding: 0;
  margin-bottom: 40px;
  transition: opacity .4s;
}

.spf__logo:hover {
  opacity: .8;
}

.spf__header {
  margin: 0 0 16px 0;
  padding: 0;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #FFFFFF;
}

.spf__form {
  display: flex;
  flex-flow: column nowrap;
  margin-bottom: 69px;
}

.spf__input {
  padding: 5px 0 10px 0;
  border: 0px;
  border-bottom: 2px solid #424242;
  color: #fff;
  outline: 0;
  background-color: #202020;
  caret-color: #4285F4;
  font-size: 13px;
  line-height: 16px;
}

.spf__input___red::placeholder {
  color: #EE3465;
  opacity: 1;
}

.spf__input:focus {
  box-shadow: 0px 0px 0px 1px #4285F4 inset;
}

.spf__label {
  display: flex;
  flex-direction: column;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 12px;
  color: #8B8B8B;
  padding-top: 24px;
  position: relative;
  top: 0;
  left: 0;
}

.spf__input:last-of-type {
  margin-bottom: 0;
}

.spf__button {
  margin-top: auto;
  background: #4285F4;
  border-radius: 3px;
  height: 45px;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #fff;
  border: 0;
  transition: opacity .2s;
  cursor: pointer;
  user-select: none;
}

.spf__button:hover {
  opacity: .8;
}

.spf__button:focus {
  outline: 0;
}

.spf__button:disabled {
  opacity: .5;
  cursor: not-allowed;
}

.spf__hint {
  margin: 16px 0 0 0;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #8B8B8B;
}

.spf__hint-link {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #4285F4;
  text-decoration: none;
  transition: opacity .2s;
}

.spf__hint-link:hover {
  opacity: .8;
}

.spf__error {
  box-shadow: 0px 0px 0px 1px #EE3465 inset;
}

.spf__error:focus {
  box-shadow: 0px 0px 0px 1px #EE3465 inset;
}

.spf__error-message {
  display: none;
  color: #EE3465;
  position: absolute;
  transform: translate(-5px, 15px);
  bottom: 0;
  right: 0;
}

.spf__error-message_shown {
  display: block;
}


@media screen and (min-width: 768px) and (max-width: 1279px) {
  .spf {
    justify-content: center;
    width: 396px;
    padding: 0;
  }
  .spf__form {
    margin-bottom: 100px;
  }
  .spf__logo-link {
    margin: 0 0 40px 0;
  }
  .spf__button {
    height: 45px;
    margin-top: 0;
  }
}

@media screen and (min-width: 0) and (max-width: 767px) {
  .spf {
    width: calc(100% - (30px * 2));
    padding: 56px 0 30px 0;
  }
  .spf__form {
    margin-bottom: 100px;
  }
  .spf__button {
    height: 45px;
    margin-top: 0;
    font-size: 12px;
    line-height: 15px;
  }
  .spf__logo-link {
    margin: 0 auto 50px auto;
  }
  .spf__header {
    margin: 0 auto 80px auto;
  }
  .spf__hint {
    font-size: 12px;
    line-height: 15px;
  }
  .spf__hint-link {
    font-size: 12px;
    line-height: 15px;
  }
}