.sf {
  display: flex;
  align-items: center;
  flex-flow: column nowrap;
  justify-content: center;

  width: calc(100% - 70px*2);
  padding: 80px 0 10px 70px;
}

.sf__form {
  display: flex;
  align-items: center;
  flex-flow: row nowrap;
  justify-content: space-between;

  width: 100%;
}

.sf__input {
  width: 100%;
  margin-right: 10px;
  padding: 15px;

  transition: box-shadow .4s;

  color: #fff;
  border: 1px;
  border-radius: 8px;
  outline: 0;
  background-color: #2F2F2F;

  font-size: 13px;
  line-height: 16px;

  caret-color: #4285F4;
}

.sf__input:focus {
  box-shadow: 0px 0px 0px 1px #4285F4 inset;
}

.sf__filter {
  display: flex;
  align-items: center;
  flex-flow: row nowrap;

  margin: 30px 0 40px 0;
  margin-left: 14px;

  cursor: pointer;
  user-select: none;

  color: #FFFFFF;

  font-family: Inter;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  line-height: 18px;
}

.sf__line {
  width: 100%;
  margin: 40px 0 10px 0;
  margin: 0;

  border-color: #424242;
}