/* Основные свойства кнопки */
.checkbox {
  position: relative;
  top: 0;
  left: 0;

  width: 36px;
  height: 20px;
  margin-right: 12px;

  cursor: pointer;
  transition-timing-function: ease-in-out;
  /* Скорость анимации для тени, фона */
  transition-duration: .2s;

  border-radius: 20px;
  outline: none;
  /* Фон кнопки в выкл. состоянии */
  background-color: #2F2F2F;

  appearance: none;
}

/* Круг в выкл состоянии */
.checkbox::after {
  position: absolute;
  top: 2px;
  left: 2px;

  width: 16px;
  height: 16px;

  content: '';
  transition: left .2s;

  border-radius: 50%;
  background-color: #1b1b1b;
}

/* Тени для круга в выкл и вкл состояниях */
.checkbox:hover::after {
  box-shadow: 0px 2px 6px rgba(0, 0, 0, .18);
}

/* Кнопка в вкл состоянии */
.checkbox:checked {
  background-color: #3DDC84;
}

/* Круг в вкл состоянии */
.checkbox:checked::after {
  position: absolute;
  top: 2px;
  left: 18px;

  width: 16px;
  height: 16px;

  content: '';

  border-radius: 50%;
  background-color: #fff;
}