.about-project__grid {
  display: grid;

  padding-top: 69px;
  padding-bottom: 110px;

  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  gap: 110px 40px;
}

.about-project__header {
  margin: 0 0 26px 0;
  padding: 0;

  letter-spacing: -0.04em;

  font-family: Inter;
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  line-height: 24px;
}

.about-project__description {
  margin: 0;
  padding: 0;

  font-family: Inter;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  line-height: 20px;
}

.about-project__progress-bar {
  display: grid;

  padding-bottom: 32px;

  grid-template-columns: 1fr 4fr;
}

/* progress-bar backend */
.about-project__backend {
  position: relative;

  display: block;

  width: 100%;
  height: 36px;

  background-color: #3DDC84;
}

.about-project__backend::before {
  position: absolute;
  top: 50%;
  left: 50%;

  content: '1 неделя';
  transform: translate(-50%, -50%);

  color: #000;

  font-size: 14px;
  line-height: 17px;
}

.about-project__backend::after {
  position: absolute;
  top: 57px;
  left: 50%;

  content: 'Back-end';
  transform: translate(-50%, -50%);

  color: #A0A0A0;

  font-size: 14px;
  line-height: 17px;
}

/* progress-bar frontend */
.about-project__frontend {
  position: relative;

  display: block;

  width: 100%;
  height: 36px;

  background-color: #303030;
}

.about-project__frontend::before {
  position: absolute;
  top: 50%;
  left: 50%;

  content: '4 недели';
  transform: translate(-50%, -50%);

  color: #fff;

  font-size: 14px;
  line-height: 17px;
}

.about-project__frontend::after {
  position: absolute;
  top: 57px;
  left: 50%;

  content: 'Front-end';
  transform: translate(-50%, -50%);

  color: #A0A0A0;

  font-size: 14px;
  line-height: 17px;
}