/* normalize.css */
@import url(./vendor/normalize.css);
/* fonts */
@import url(./vendor/fonts.css);
/* smooth-scrolling */
html {
  scroll-behavior: smooth;
}
/* body background color*/
body, html {
  background-color: #202020;
  height: 100%;
}
/* root (public/index.html #root) */
#root {
  height: 100%;
  /* min/max-width для центрирования контента и адаптива */
  min-width: 320px;
  max-width: 1280px;
  /* центрирование страницы */
  margin: 0 auto;
  /* дефолтные цвета фона и текста*/
  color: #fff;
  /* шрифты */
  font-family: 'Inter', 'Arial', sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  /* sticky footer */
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}