.navtab {
  margin-bottom: 30px;
  height: 36px;
  border-radius: 10px;
}

.navtab__items {
  display: flex;
  flex-flow: row nowrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navtab__achor-link {
  margin-right: 10px;
}

.navtab__achor-last-link {
  margin-right: 0;
}